---
import form from "../assets/form.svg";
import handshake from "../assets/handshake.svg";
import paid from "../assets/paid.svg";
import arrow from "../assets/arrow.svg";
---

<section class="howitworks" id="how">
    <h2 class="howitworks__title">
        <span> How it works</span>
    </h2>

    <div class="container__card" id="container-card">
        <article class="card">
            <h3>get a offer for your vehicle</h3>
            <img src={form} alt="icon of form" />
            <p>
                Go to <strong> Get an Offer </strong> and enter the necessary information to
                receive an offer for your vehicle.
            </p>
        </article>
        <img class="arrow" src={arrow} alt="icon of arrow" />
        <article class="card">
            <h3>Receive an offer from us</h3>
            <img src={handshake} alt="icon of handshake" />
            <p>
                When we receive your information, we will send you the offer or
                proceed to call you
            </p>
        </article>
        <img class="arrow" src={arrow} alt="icon of arrow" />

        <article class="card">
            <h3>get paid</h3>
            <img src={paid} alt="icon of dollar" />
            <p>
                When you accept the offer quickly, the terms of the deal you'll
                have your money promptly
            </p>
        </article>
    </div>
</section>

<style>
    @media screen and (min-width: 1400px) and (max-width: 2559px) {
        #container-card{
            justify-content: center ;
            gap: 3rem;
        }
        .card{
            height: auto;
            width: 100px;
           
        }
        .card p{
        width: 20ch;
    }
     h3{
        
        width: 20ch;
    }
}
        
   
  
    .howitworks {
        height: auto;
        background-color: var(--primaryColor);
        padding: 4.5em 8em;
    }
    .howitworks__title{
        display: flex;
        justify-content: center;
        font-family: var(--fontBrand);
        font-size: 2rem;
        font-weight: 500;
        width: 100%;
        border-top: solid var(--white) 1px;
        color:var(--white);
    }
    .howitworks__title span{
        background: var(--primaryColor);
        padding: 0 1.5rem;
        margin-top: -1.2rem;
    }
    .container__card{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 2.5em 0;

    }
    .card{
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 26rem;
        width: auto;
        justify-content: space-around;
        align-items: center;
        padding: 0 1.5rem;
        border-radius: .2rem;
        text-align: center;
        background: var(--terciaryColor);

    }
    .card h3{
        font-family: var(--fontBrand);
        font-size: 28px;
        font-weight: 500;
    }
    .card img{
        width: clamp(4rem,50%,6rem);
        
        height: auto;
    }
    .card p{
        font-size: 16px;
        line-height: 25px;
        text-align: left;
    }
    .arrow{

        width: clamp(2.4rem ,5%, 6rem);
        max-height: 6rem;
    }

    
    @media screen and (max-width: 900px){
        .howitworks {
       padding: 2rem 0;
       height: auto;
        
    }
    .container__card{
        flex-direction: column;
        gap: 2rem;
    }

    .card{
        height: auto;
        width: 14rem;
        padding: 1.5rem;
        gap: 1rem;
    }
    .card h3{
        font-family: var(--fontBrand);
        font-size: 25px;
        font-weight: 500;
    }
    .card img{
        max-width: 5rem;
        max-height: 5rem;
        margin-top: -2rem;
    }
    .card p{
        
        font-size: 16px;
        line-height: 24px;
        
    }
    .arrow{
        max-width: 3rem;
        max-height: 3rem;
        transform: rotate(90deg);
    }
    }
    
</style>
